body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    text-transform: uppercase;
}
img{
    border: 5px solid white;
    width: 100%;
    
}
p{
    color: white;
    text-align: center;
}
#poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    color: white;
    text-align: center;
}
